main {
    width:1000px;
    margin: 0 auto;
    font-family: Helvetica , Arial, sans-serif:
}

body {
    background-color: #000000;
img {
    width: 350px;
    height: 400px;
}
h1 {
    color: #eee;
}
.quote {
    color: rgb(19, 211, 147);
}
.p1, .p2, .p3{
    font-size: 20px;
    color: rgb(228, 237, 240);
}
.p4 {
    color:aliceblue;
    position: relative;
}
br {
    color:azure;
}
#options {
    font-size: 18px;
    color: #883131;

}
#label {
    color:aqua;
    font-size: 19px;
}
#listDisplay {
    background-color: azure;
    border-radius: 0.5em;
    line-height: 1.5;
    font-size: 18px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-width: 1em;
    border-color:aqua;
    max-width: 40%;

}
